In [1]:
import pandas as pd
import numpy as np

# Загрузим "Контакты партнеров"

In [2]:
partners = pd.read_excel("Контакты партнеров.xlsx")
partners.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34489 entries, 0 to 34488
Data columns (total 10 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   АдресЭП                                34489 non-null  object
 1   НомерТелефона                          34489 non-null  object
 2   ВидДляСпискаТелефонCДобавочнымНомером  34489 non-null  object
 3   CRM_ОсновноеКонтактноеЛицоСсылка       34489 non-null  object
 4   Код                                    34489 non-null  object
 5   Наименование                           34489 non-null  object
 6   ОсновнойМенеджер                       34489 non-null  object
 7   Поставщик                              34489 non-null  object
 8   Перевозчик                             34489 non-null  object
 9   Ссылка                                 34489 non-null  object
dtypes: object(10)
memory usage: 2.6+ MB

In [3]:
partners[:1]

,АдресЭП,НомерТелефона,ВидДляСпискаТелефонCДобавочнымНомером,CRM_ОсновноеКонтактноеЛицоСсылка,Код,Наименование,ОсновнойМенеджер,Поставщик,Перевозчик,Ссылка
0,<Пустая строка>,<Пустая строка>,Да,<NULL>,000000207,Элиот ЗАО,<Пустая ссылка: Справочник.Пользователь>,Да,Нет,Элиот ЗАО

# Загрузим "Контактные лица партнеров"

In [4]:
manager_of_partners = pd.read_excel("Контактные лица партнеров.xlsx")
manager_of_partners.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11465 entries, 0 to 11464
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   НомерТелефона          11465 non-null  object
 1   АдресЭП                11465 non-null  object
 2   НомерТелефонаБезКодов  11465 non-null  object
 3   CRM_Имя                11465 non-null  object
 4   CRM_Отчество           11465 non-null  object
 5   CRM_Должность          11465 non-null  object
 6   CRM_Фамилия            11465 non-null  object
 7   Пол                    11465 non-null  object
 8   Ссылка                 11465 non-null  object
 9   CRM_ОсновнойДляСвязи   11465 non-null  object
 10  Владелец               11465 non-null  object
 11  ВладелецКод            11465 non-null  object
dtypes: object(12)
memory usage: 1.0+ MB

In [5]:
manager_of_partners[0:1]

,НомерТелефона,АдресЭП,НомерТелефонаБезКодов,CRM_Имя,CRM_Отчество,CRM_Должность,CRM_Фамилия,Пол,Ссылка,CRM_ОсновнойДляСвязи,Владелец,ВладелецКод
0,79618913040,<Пустая строка>,8913040,Алла,<Пустая строка>,<Пустая ссылка: Справочник.Должность>,Пономаренко,Женский,Пономаренко Алла,Нет,не использовать СКБ Факел (СибЭнергоСтрой (Том...,00-00000435

# Соберем нужные данные в одном DF

In [6]:
time_partners = partners[['АдресЭП', 'НомерТелефона', 'Код', 'Наименование']]
time_partners = time_partners.rename(
    columns={'Код': 'КодПартнер', 'Наименование': 'НаименованиеПартнера'})
time_partners.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34489 entries, 0 to 34488
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   АдресЭП               34489 non-null  object
 1   НомерТелефона         34489 non-null  object
 2   КодПартнер            34489 non-null  object
 3   НаименованиеПартнера  34489 non-null  object
dtypes: object(4)
memory usage: 1.1+ MB

In [7]:
time_manager_of_partners = manager_of_partners[[
    'АдресЭП', 'НомерТелефона', 'ВладелецКод', 'Владелец']]
time_manager_of_partners = time_manager_of_partners.rename(
    columns={'ВладелецКод': 'КодПартнер', 'Владелец': 'НаименованиеПартнера'})
time_manager_of_partners.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11465 entries, 0 to 11464
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   АдресЭП               11465 non-null  object
 1   НомерТелефона         11465 non-null  object
 2   КодПартнер            11465 non-null  object
 3   НаименованиеПартнера  11465 non-null  object
dtypes: object(4)
memory usage: 358.4+ KB

In [8]:
data = pd.concat([time_partners, time_manager_of_partners])

In [9]:
# Приведем все к нижнему регистру
data['АдресЭП'] = data['АдресЭП'].str.lower()

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45954 entries, 0 to 11464
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   АдресЭП               45954 non-null  object
 1   НомерТелефона         45954 non-null  object
 2   КодПартнер            45954 non-null  object
 3   НаименованиеПартнера  45954 non-null  object
dtypes: object(4)
memory usage: 1.8+ MB

In [11]:
data[:1]

           АдресЭП    НомерТелефона КодПартнер НаименованиеПартнера
0  <пустая строка>  <Пустая строка>  000000207            Элиот ЗАО

# Сохраним в файл

In [12]:
with pd.ExcelWriter(f'Объединенные контакты партнеров.xlsx') as writer:
    data.reset_index(drop=True).to_excel(writer, sheet_name='Контакты партнеров')